.logo {
  width: 77px;
  height: 77px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  -o-object-fit: contain;
  object-fit: contain;
  /* background: url("../images/raiona.png") no-repeat center; */
  /* background-size: contain; */
}

.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.signUpButton {
  width: 113px;
  height: 40px;
  left: 1129px;
  top: 29px;

  border: none;

  background: #d4aa54;
  border-radius: 20px;
}

.burger {
  width: 42px;
  height: 42px;
  margin-right: 15px;
  fill: var(--light-gold);
}

.nav > ul {
  list-style-type: none;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
}

.link {
  color: var(--nice-gold);
  margin: 26px 0;
}

.link:hover {
  color: gold;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0;
    justify-content: space-evenly;
  }

  .logo {
    width: 280px;
    margin: 22px 0;
    /* background: url("../images/logo.png") no-repeat center; */
    /* background-size: contain; */
  }

  .nav > ul {
    width: calc(100vw - 500px);
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    position: unset;
    background-color: unset;
  }

  .link {
    margin: 0;
  }
}
